@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #22899b;
  --secondary: #00c2cb;
  --background: #0e1320;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #22899b;
    --secondary: #00c2cb;
    --background: #0e1320;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
